
Mash-Game-UTS-Tutorial/Library/PackageCache/com.unity.analytics@3.2.2/Tests/Editor/Unity.Analytics.StandardEvents/Unity.Analytics.StandardEvents.EditorTests.asmdef.meta
Mash-Game-UTS-Tutorial/Library/PackageCache/com.unity.package-manager-ui@2.0.3/Editor/Resources/Templates/UIElementsSchema/UnityEditor.Experimental.UIElements.xsd.meta
Mash-Game-UTS-Tutorial/Library/PackageCache/com.unity.package-manager-ui@2.0.3/Editor/Resources/Templates/UIElementsSchema/UnityEngine.Experimental.UIElements.xsd.meta
